{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row"  style="margin-top: 25px;">
        <div class="col-md-6">
            <img src="{{movie1.img.url}}" width="400px" height="300px">
        </div>
        <div class="col-md-6">
           <h4>{{movie1.name}}</h4><br><br>
           <h5>{{movie1.desc}}</h5><br><br>
           <h5>{{movie1.year}}</h5><br><br>
            <a class="btn btn-warning" href="{% url 'movieapp:update' movie1.id %}">Update </a>
            <a class="btn btn-danger"  href="{% url 'movieapp:delete' movie1.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}